#dropdown {
    position: absolute;
    top: 7vmax;
    /* left: 1%; */
    background-color: #282c34;
    width: 50%;
    height: min-content;
    z-index: 100;
    font-size: x-large;
}

.dropdown-item {
    padding: 10vmin 0 10vmin;
}

.dropdown-item:hover {
    background-color: aqua;
}
